<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset = "utf-8">
      <title>Aphelion</title>
      <link rel="" href="" >
   </head>
   <body>
        <h1>Welcome Employee: <%= id%></h1>
        <h2><%= name%></h2>
        <h3>The no. of leave you have is : <%=leaves%></h3>
        <form method="post" action="/home/logout">
            <button name="logout">Logout</button>
        </form>    
   </body>
</html>