<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset = "utf-8">
      <title>Aphelion</title>
      <link rel="" href="" >
   </head>
   <body>
         <p><%= error %><p>
        <form action="/home/login" method="POST">
            <label>ID:</label>
            <input type="text" name="empId" required>
            <label>PW</label>
            <input type="text" name="password" required>
            <button name="login">LOGIN</button>
        </form>
      
   </body>
</html>